[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
black = "==19.10b0"
twine = "*"

[packages]

[scripts]
test = "pytest"
format = "black ."
build = "python setup.py sdist"
check = "twine check dist/*"
upload = "twine upload dist/*"
